.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question-card{
  margin: 0;
  background-color: bisque;
  padding: 1rem;
  width: 50%;
 
  
}
.question-card >ul{
  list-style-type: none;
  padding: 0%;
  
}
.question-card >ul > li{
  border: 1px solid black;
}
.final-results{
  background-color: aquamarine;
  padding: 1rem;
  border: 1px solid black;
  margin: 1rem;
  width: 50%;
}
